/* ============================================= */
/* 1 ---------- Global Styles ---------- */
/* Import Google Font
------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Catamaran");
html,
body {
  background: #eceff1;
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
  line-height: 1; }

a {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }

a:hover {
  color: #191919;
  outline: 0;
  text-decoration: none; }

p {
  color: #6a7074;
  font-family: 'Catamaran', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6a7074;
  font-family: "Open Sans", sans-serif;
  font-weight: 700; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #6a7074; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

button,
input,
optgroup,
select,
textarea,
.btn {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus,
.btn:focus,
button:active,
input:active,
optgroup:active,
select:active,
textarea:active,
.btn:active,
button:visited,
input:visited,
optgroup:visited,
select:visited,
textarea:visited,
.btn:visited {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 !important; }

.form-control {
  border-radius: 0;
  color: #6a7074;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px; }

canvas {
  max-width: 100%; }

.title {
  color: #6a7074;
  font-family: 'Catamaran', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize; }

iframe {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: auto;
  max-width: 100%;
  width: 100%; }

section {
  clear: both; }

button,
.btn {
  border-radius: 0;
  cursor: pointer; }
  button.btn-success,
  .btn.btn-success {
    background: #50c37f;
    border-color: #50c37f; }
  button.btn-danger,
  .btn.btn-danger {
    background: #ff5252;
    border-color: #ff5252; }
  button.btn-warning,
  .btn.btn-warning {
    background: #fb8c00;
    border-color: #fb8c00; }
  button.btn-primary,
  .btn.btn-primary {
    background: #039be5;
    border-color: #039be5; }
  button.btn-secondary,
  .btn.btn-secondary {
    background: #b6b7b9;
    border-color: #b6b7b9; }
  button.btn-info,
  .btn.btn-info {
    background: #67d7e8;
    border-color: #67d7e8; }
  button.btn-black,
  .btn.btn-black {
    background: #343a40;
    border-color: #343a40; }
  button.btn-purple,
  .btn.btn-purple {
    background: #7e57c2;
    border-color: #7e57c2;
    color: #fff; }
  button.btn-dark,
  .btn.btn-dark {
    color: #fff !important; }
  button.radius,
  .btn.radius {
    border-radius: 10rem; }

[class*="dark"] {
  color: #343a40 !important; }
  [class*="dark"]:hover {
    color: #fff !important; }

[class*="table-dark"] {
  color: #fff !important; }

.height-100 {
  height: 100%;
  max-height: 240px; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.max-not {
  max-height: inherit; }

.badge,
.badge.badge-square {
  color: #fff;
  font-family: 'Catamaran', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  padding: .3em .4em; }

.bg-color {
  background: #eceff1 !important; }

.bg-success,
.list-group-item-success,
.badge-success {
  background-color: #50c37f !important; }

.bg-danger,
.list-group-item-danger,
.badge-danger {
  background-color: #ff5252 !important; }

.bg-warning,
.list-group-item-warning,
.badge-warning {
  background-color: #fb8c00 !important; }

.bg-primary,
.list-group-item-primary,
.badge-primary {
  background-color: #039be5 !important; }

.bg-secondary,
.list-group-item-secondary,
.badge-secondary {
  background-color: #b6b7b9 !important; }

.bg-info,
.list-group-item-info,
.badge-info {
  background-color: #67d7e8 !important; }

.bg-dark,
.list-group-item-dark,
.badge-dark {
  background-color: #343a40 !important;
  color: #fff !important; }

.bg-light-dark,
.list-group-item-light-dark,
.badge-light-dark {
  background-color: #252632; }

.bg-purple,
.list-group-item-purple,
.badge-purple {
  background-color: #7e57c2 !important; }

.bg-light,
.list-group-item-light,
.badge-light {
  background-color: #78909c !important; }

.bg-white {
  background-color: #fff; }

.border-success {
  border-color: #50c37f !important; }

.border-danger {
  border-color: #ff5252 !important; }

.border-warning {
  border-color: #fb8c00 !important; }

.border-primary {
  border-color: #039be5 !important; }

.border-secondary {
  border-color: #b6b7b9 !important; }

.border-info {
  border-color: #67d7e8 !important; }

.border-dark {
  border-color: #343a40 !important; }

/* 1.1 - Global Colors */
.color-success {
  color: #50c37f !important; }

.color-danger {
  color: #ff5252 !important; }

.color-warning {
  color: #fb8c00 !important; }

.color-primary {
  color: #039be5 !important; }

.color-secondary {
  color: #b6b7b9 !important; }

.color-info {
  color: #67d7e8 !important; }

.color-dark {
  color: #343a40 !important; }

.color-light-dark {
  color: #252632 !important; }

.color-purple {
  color: #7e57c2 !important; }

.color-light {
  color: #78909c !important; }

.color-white {
  color: #fff !important; }

.btn-outline-secondary {
  color: #b6b7b9;
  border-color: #b6b7b9; }
  .btn-outline-secondary:hover {
    background-color: #b6b7b9;
    border-color: #b6b7b9; }

.btn-outline-primary {
  color: #039be5;
  border-color: #039be5; }
  .btn-outline-primary:hover {
    background-color: #039be5;
    border-color: #039be5; }

.btn-outline-light {
  color: #78909c;
  border-color: #78909c; }
  .btn-outline-light:hover {
    background-color: #78909c;
    border-color: #78909c; }

.btn-outline-success {
  color: #50c37f;
  border-color: #50c37f; }
  .btn-outline-success:hover {
    background-color: #50c37f;
    border-color: #50c37f; }

.btn-outline-warning {
  color: #fb8c00;
  border-color: #fb8c00; }
  .btn-outline-warning:hover {
    background-color: #fb8c00;
    border-color: #fb8c00; }

.btn-outline-danger {
  color: #ff5252;
  border-color: #ff5252; }
  .btn-outline-danger:hover {
    background-color: #ff5252;
    border-color: #ff5252; }

.btn-outline-info {
  color: #67d7e8;
  border-color: #67d7e8; }
  .btn-outline-info:hover {
    background-color: #67d7e8;
    border-color: #67d7e8; }

.btn-outline-dark {
  color: #343a40;
  border-color: #343a40; }
  .btn-outline-dark:hover {
    background-color: #343a40;
    border-color: #343a40; }

.bg-gradient {
  background: -webkit-gradient(linear, left top, right top, from(#ced8ef), to(#dccdf4));
  background: linear-gradient(to right, #ced8ef, #dccdf4); }

.padding-0 {
  padding: 0 !important; }

.background-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.card {
  border: none; }
  .card .card-title {
    color: #6a7074;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize; }
  .card .card-body {
    padding: 0; }

.card-footer {
  background: none;
  padding: 15px 0; }

.disabled,
.disabled a {
  cursor: not-allowed;
  pointer-events: none; }

.table-bordered td:focus,
.table-bordered th:focus {
  outline: 0; }

.dataTables_wrapper .form-control {
  border-radius: 0;
  color: #6a7074; }
  .dataTables_wrapper .form-control:focus {
    border-color: #ced4da;
    outline: 0; }

.dataTables_wrapper label {
  width: 100%; }

.dataTables_wrapper select,
.dataTables_filter input {
  float: left;
  margin: 5px 0;
  min-width: 100%; }

.dataTables_paginate {
  float: right;
  margin-top: 13px !important; }
  .dataTables_paginate a {
    border-radius: 0 !important;
    color: #6a7074;
    font-family: 'Catamaran', sans-serif;
    font-size: 13px; }
    .dataTables_paginate a:hover {
      background: #6a7074;
      border-color: #6a7074;
      color: #fff; }
  .dataTables_paginate .active a.page-link {
    background: #6a7074;
    border-color: #6a7074;
    color: #fff; }

.bg-gray {
  background-color: #f5f5f5; }

.bg-white {
  background-color: #fff; }

.mtm-15 {
  margin-top: -15px !important; }

.max-140 {
  max-height: 140px !important; }

.max-200 {
  max-height: 200px !important; }

.max-240 {
  max-height: 240px !important; }

.max-495 {
  max-height: 495px !important; }

.max-100 {
  max-width: 100% !important; }

.maw-85 {
  max-width: 85px !important; }

.b-0 {
  border: none !important; }

.overlay {
  background-color: rgba(0, 0, 0, 0.5); }

.bg-success .overlay {
  background-color: rgba(80, 195, 127, 0.5); }

.bg-danger .overlay {
  background-color: rgba(255, 82, 82, 0.5); }

.bg-warning .overlay {
  background-color: rgba(251, 140, 0, 0.5); }

.bg-primary .overlay {
  background-color: rgba(3, 155, 229, 0.5); }

.bg-secondary .overlay {
  background-color: rgba(182, 183, 185, 0.5); }

.bg-info .overlay {
  background-color: rgba(103, 215, 232, 0.5); }

.bg-dark .overlay {
  background-color: rgba(52, 58, 64, 0.5); }

.bg-purple .overlay {
  background-color: rgba(126, 87, 194, 0.5); }

.bg-light .overlay {
  background-color: rgba(120, 144, 156, 0.5); }

.user-card {
  display: inline-block;
  width: 100%; }
  .user-card a {
    color: #fff;
    display: inline-block;
    padding: 19px 45px 16px;
    width: 100%; }
    .user-card a .name,
    .user-card a .designation {
      color: #fff; }
  .user-card .avatar {
    max-width: 50px; }
    .user-card .avatar img {
      border: 3px solid rgba(255, 255, 255, 0.25); }
  .user-card .details {
    padding-top: 10px; }
    .user-card .details .name {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      margin: 0 0 5px;
      text-transform: capitalize; }
    .user-card .details .designation {
      color: #fff;
      display: block;
      font-size: 12px;
      text-transform: capitalize; }

.content-wrapper aside.left-panel .navbar .navbar-nav li .dropdown-menu a:before {
  display: none; }

.brb-dotted {
  border-bottom: 1px solid #fff;
  border-bottom-style: dotted; }

.inline-block {
  display: inline-block; }

.icons-list {
  color: #343a40;
  font-family: 'Catamaran', sans-serif;
  font-size: 15px;
  text-align: center; }
  .icons-list i {
    color: #343542;
    display: block;
    font-size: 1.5rem;
    margin-bottom: 10px; }
  .icons-list div[class*="col"] {
    margin: 15px 0; }

/* 2 --------- Header --------- */
header.top-header {
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px #d5d8d9;
          box-shadow: 0px 0px 5px #d5d8d9; }
  header.top-header .top-left {
    width: 240px; }
    header.top-header .top-left .navbar-brand {
      line-height: 75px;
      margin: 0;
      padding: 0 0 0 45px;
      width: 100%; }
      header.top-header .top-left .navbar-brand img {
        max-height: 45px; }
  header.top-header .top-right .left-content .sidenav-toggle {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #777c7e;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    line-height: 75px;
    text-align: center;
    width: 45px; }
  header.top-header .top-right .left-content form {
    display: inline-block;
    padding: 0 0 0 30px;
    position: relative; }
    header.top-header .top-right .left-content form:before {
      content: "\f002";
      color: #777c7e;
      font-family: 'FontAwesome';
      font-size: 17px;
      left: 0;
      top: 2px;
      position: absolute; }
    header.top-header .top-right .left-content form input {
      border: none;
      color: #000;
      font-family: 'Catamaran', sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 25px;
      padding: 0; }
      header.top-header .top-right .left-content form input::-webkit-input-placeholder {
        color: #b0bec5; }
      header.top-header .top-right .left-content form input::-moz-placeholder {
        color: #b0bec5; }
      header.top-header .top-right .left-content form input:-ms-input-placeholder {
        color: #b0bec5; }
      header.top-header .top-right .left-content form input:-moz-placeholder {
        color: #b0bec5; }
      header.top-header .top-right .left-content form input[type="submit"] {
        display: none; }
  header.top-header .top-right .right-content {
    padding-right: 45px; }
    header.top-header .top-right .right-content .country-select {
      height: 75px;
      min-width: 40px; }
      header.top-header .top-right .right-content .country-select .flag-dropdown {
        padding: 0; }
        header.top-header .top-right .right-content .country-select .flag-dropdown:hover .selected-flag {
          background: none; }
      header.top-header .top-right .right-content .country-select .country-list {
        -webkit-box-shadow: none;
                box-shadow: none;
        overflow: hidden;
        top: 77px;
        width: inherit; }
      header.top-header .top-right .right-content .country-select .country-name,
      header.top-header .top-right .right-content .country-select .preferred,
      header.top-header .top-right .right-content .country-select .divider {
        display: none; }
      header.top-header .top-right .right-content .country-select .arrow {
        display: none; }
      header.top-header .top-right .right-content .country-select .country.highlight {
        background: transparent; }
    header.top-header .top-right .right-content .count {
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 5px #fff;
              box-shadow: 0px 0px 5px #fff;
      color: #fff;
      font-family: 'Catamaran', sans-serif;
      font-size: 11px;
      height: 16px;
      line-height: 16px;
      right: 10px;
      top: 25px;
      position: absolute;
      text-align: center;
      width: 16px;
      z-index: 1; }
    header.top-header .top-right .right-content .messages-menu .count {
      background: #50c37f; }
    header.top-header .top-right .right-content .notifications-menu .count {
      background: #ff5252; }
    header.top-header .top-right .right-content .dropdown {
      float: left;
      min-width: 50px; }
      header.top-header .top-right .right-content .dropdown .dropdown-toggle {
        color: #6a7074;
        display: inline-block;
        font-size: 17px;
        line-height: 75px;
        padding: 0 19px;
        position: relative;
        vertical-align: middle;
        z-index: 0; }
        header.top-header .top-right .right-content .dropdown .dropdown-toggle:after {
          display: none; }
      header.top-header .top-right .right-content .dropdown.user-menu .dropdown-toggle {
        padding: 17.5px 15px; }
        header.top-header .top-right .right-content .dropdown.user-menu .dropdown-toggle:after {
          display: block;
          position: absolute;
          top: 50%;
          right: 0; }
        header.top-header .top-right .right-content .dropdown.user-menu .dropdown-toggle img {
          height: 40px;
          padding: 0;
          width: 40px; }
        header.top-header .top-right .right-content .dropdown.user-menu .dropdown-toggle .status {
          background: #5fc589;
          border: 2px solid #fff;
          border-radius: 50%;
          bottom: 14px;
          left: 40px;
          height: 9px;
          width: 9px;
          position: absolute; }
        header.top-header .top-right .right-content .dropdown.user-menu .dropdown-toggle .name {
          color: #777c7e;
          float: right;
          font-size: 13px;
          font-weight: 600;
          margin: 0;
          padding: 14px 10px 0 0;
          text-transform: capitalize; }
      header.top-header .top-right .right-content .dropdown .dropdown-menu {
        border-radius: 0;
        -webkit-box-shadow: none;
                box-shadow: none;
        margin: 0;
        padding: 0;
        right: 0;
        left: inherit !important;
        top: 2px !important;
        width: 280px; }
        header.top-header .top-right .right-content .dropdown .dropdown-menu ul {
          margin: 0;
          padding: 0; }
        header.top-header .top-right .right-content .dropdown .dropdown-menu li {
          display: inline-block;
          width: 100%; }
          header.top-header .top-right .right-content .dropdown .dropdown-menu li a {
            border-bottom: 1px solid #f2f2f2;
            color: #6a7074;
            display: inline-block;
            font-family: 'Catamaran', sans-serif;
            font-size: 15px;
            padding: 10px 15px;
            text-overflow: ellipsis; }
            header.top-header .top-right .right-content .dropdown .dropdown-menu li a img {
              display: table-cell;
              float: left;
              width: 30px; }
            header.top-header .top-right .right-content .dropdown .dropdown-menu li a:hover {
              background: #f2f2f2; }
          header.top-header .top-right .right-content .dropdown .dropdown-menu li:last-child a {
            border-bottom: none; }
        header.top-header .top-right .right-content .dropdown .dropdown-menu .header,
        header.top-header .top-right .right-content .dropdown .dropdown-menu .footer {
          border-bottom: 1px solid #f2f2f2;
          color: #6a7074;
          font-family: 'Catamaran', sans-serif;
          font-size: 15px;
          line-height: 23px;
          padding: 10px 15px; }
        header.top-header .top-right .right-content .dropdown .dropdown-menu .dropdown-content {
          max-height: 230px; }
          header.top-header .top-right .right-content .dropdown .dropdown-menu .dropdown-content .media-body {
            display: table-cell; }
          header.top-header .top-right .right-content .dropdown .dropdown-menu .dropdown-content .name {
            float: left;
            font-size: 14px;
            font-weight: 600;
            margin: -2px 0 5px;
            padding-right: 15px; }
          header.top-header .top-right .right-content .dropdown .dropdown-menu .dropdown-content .time {
            float: right;
            font-size: 11px; }
          header.top-header .top-right .right-content .dropdown .dropdown-menu .dropdown-content p {
            clear: both;
            font-size: 12px;
            line-height: 19px;
            margin: 0; }
        header.top-header .top-right .right-content .dropdown .dropdown-menu .footer {
          border-top: 1px solid #f2f2f2;
          border-bottom: none;
          padding: 0; }
          header.top-header .top-right .right-content .dropdown .dropdown-menu .footer a {
            color: #6a7074;
            width: 100%; }
      header.top-header .top-right .right-content .dropdown.notifications-menu .dropdown-content li a {
        font-size: 13px;
        line-height: 20px; }
        header.top-header .top-right .right-content .dropdown.notifications-menu .dropdown-content li a i {
          background: none;
          border: none;
          float: left;
          margin: 3px 10px 0 0; }
      header.top-header .top-right .right-content .dropdown.user-menu .dropdown-menu {
        width: 180px;
        -webkit-transform: translate3d(0, 75px, 0px) !important;
        transform: translate3d(0, 75px, 0px) !important; }
        header.top-header .top-right .right-content .dropdown.user-menu .dropdown-menu li a {
          font-family: 'Catamaran', sans-serif;
          padding: 15px;
          width: 100%; }
          header.top-header .top-right .right-content .dropdown.user-menu .dropdown-menu li a i {
            float: left;
            margin-right: 15px; }

/* 3 --------- Content Wrapper --------- */
.content-wrapper {
  display: table;
  position: relative;
  /* 3.1 - Sidebar Menu */
  /* 3.2 - Dashboard Contents */ }
  .content-wrapper.container-fluid {
    padding: 0; }
  .content-wrapper aside.left-panel {
    background: #343542;
    display: table-cell;
    min-height: 100%;
    vertical-align: top;
    width: 300px;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease; }
    .content-wrapper aside.left-panel .navbar {
      padding: 0;
      z-index: 999; }
      .content-wrapper aside.left-panel .navbar .navbar-nav {
        width: 100%; }
        .content-wrapper aside.left-panel .navbar .navbar-nav li {
          font-family: 'Catamaran', sans-serif;
          font-size: 14px; }
          .content-wrapper aside.left-panel .navbar .navbar-nav li.header {
            border-top: 1px solid #2d2e3b;
            color: #6a7074;
            line-height: 22px;
            padding: 19px 45px;
            text-transform: uppercase; }
          .content-wrapper aside.left-panel .navbar .navbar-nav li.active > a {
            background: #30313e;
            color: #cfd8dc; }
          .content-wrapper aside.left-panel .navbar .navbar-nav li a {
            color: #8f9ca3;
            line-height: 22px;
            padding: 19px 45px;
            text-transform: capitalize; }
            .content-wrapper aside.left-panel .navbar .navbar-nav li a:hover {
              background: #30313e;
              color: #cfd8dc; }
            .content-wrapper aside.left-panel .navbar .navbar-nav li a i {
              font-size: 16px;
              float: left;
              margin: 1px 5px 0 0;
              width: 20px; }
            .content-wrapper aside.left-panel .navbar .navbar-nav li a.dropdown-toggle:after {
              content: "\f105";
              border: none;
              color: #7f878d;
              font-family: 'FontAwesome';
              font-size: 13px;
              position: absolute;
              right: 50px;
              -webkit-transition: all .25s ease;
              transition: all .25s ease; }
            .content-wrapper aside.left-panel .navbar .navbar-nav li a.dropdown-toggle:hover:after {
              color: #cfd8dc; }
          .content-wrapper aside.left-panel .navbar .navbar-nav li .badge {
            border-radius: 0;
            color: #fff;
            font-size: 11px;
            font-weight: 700;
            float: right;
            margin-right: 20px;
            padding: 4px 0px;
            position: relative;
            text-transform: uppercase;
            z-index: 1; }
            .content-wrapper aside.left-panel .navbar .navbar-nav li .badge:before, .content-wrapper aside.left-panel .navbar .navbar-nav li .badge:after {
              content: '';
              border-radius: 50%;
              height: 100%;
              top: 0;
              position: absolute;
              width: 13px;
              z-index: -1; }
            .content-wrapper aside.left-panel .navbar .navbar-nav li .badge:before {
              left: -6px; }
            .content-wrapper aside.left-panel .navbar .navbar-nav li .badge:after {
              right: -6px; }
            .content-wrapper aside.left-panel .navbar .navbar-nav li .badge.notifications {
              background: #039be5;
              border-radius: 50%;
              margin-right: 15px;
              padding: 4px 6px; }
              .content-wrapper aside.left-panel .navbar .navbar-nav li .badge.notifications:before, .content-wrapper aside.left-panel .navbar .navbar-nav li .badge.notifications:after {
                display: none; }
            .content-wrapper aside.left-panel .navbar .navbar-nav li .badge.hot {
              background: #fb8c00; }
              .content-wrapper aside.left-panel .navbar .navbar-nav li .badge.hot:before, .content-wrapper aside.left-panel .navbar .navbar-nav li .badge.hot:after {
                background: #fb8c00; }
            .content-wrapper aside.left-panel .navbar .navbar-nav li .badge.danger {
              background: #ff5252; }
              .content-wrapper aside.left-panel .navbar .navbar-nav li .badge.danger:before, .content-wrapper aside.left-panel .navbar .navbar-nav li .badge.danger:after {
                background: #ff5252; }
          .content-wrapper aside.left-panel .navbar .navbar-nav li .dropdown-menu {
            background: #252632;
            border: none;
            height: 0;
            padding: 0;
            -webkit-transition: height .3s ease;
            transition: height .3s ease; }
            .content-wrapper aside.left-panel .navbar .navbar-nav li .dropdown-menu a {
              font-size: 14px;
              padding: 7px 15px 7px 85px;
              position: relative; }
              .content-wrapper aside.left-panel .navbar .navbar-nav li .dropdown-menu a:before {
                content: '';
                background: #eceff1;
                height: 2px;
                width: 5px;
                top: 50%;
                left: 70px;
                margin-top: -1px;
                position: absolute; }
          .content-wrapper aside.left-panel .navbar .navbar-nav li.show .dropdown-menu {
            height: auto; }
  .content-wrapper .dashboard-contents {
    display: table-cell;
    margin-left: 300px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .content-wrapper .dashboard-contents .contents-inner {
      min-height: 95vh;
      padding: 30px 45px; }
    .content-wrapper .dashboard-contents .section-content {
      margin: 15px 0; }
      .content-wrapper .dashboard-contents .section-content.hide-content .content-details {
        height: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0 20px; }
        .content-wrapper .dashboard-contents .section-content.hide-content .content-details.tab-chart {
          padding-top: 40px; }
    .content-wrapper .dashboard-contents .content-head {
      background: #fff;
      border-bottom: 1px solid #eceff1;
      padding: 12px 20px; }
      .content-wrapper .dashboard-contents .content-head .content-title {
        color: #6a7074;
        display: inline-block;
        font-size: 15px;
        line-height: 26px;
        margin: 0;
        padding: 0;
        text-transform: uppercase; }
      .content-wrapper .dashboard-contents .content-head .content-title span.job-title {
        color: #039be5; }
      .content-wrapper .dashboard-contents .content-head .corner-content button {
        background: transparent;
        border: none;
        -webkit-box-shadow: none;
                box-shadow: none;
        color: #c7d2d7;
        cursor: pointer;
        font-size: 12px;
        line-height: 26px;
        padding: 0 5px; }
    .content-wrapper .dashboard-contents .content-details {
      background: #fff;
      font-family: 'Catamaran', sans-serif;
      font-size: 15px;
      padding: 20px;
      -webkit-transition: all .25s ease;
      transition: all .25s ease; }

/* 4 ------- Footer ------- */
footer.site-footer {
  background: #fff;
  bottom: 0;
  height: 90px;
  padding: 34px 45px;
  position: absolute;
  width: 100%; }
  footer.site-footer .copyright {
    color: #78909c;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    width: 100%; }
    footer.site-footer .copyright a {
      color: #6a7074; }

/* --------------  New Css Code   -----------------*/
.profile-dashboard .content-head {
  text-align: center;
}
.name {
  font-family: 'Cuprum', sans-serif;
  font-size: 36px;
  color: #333;
}
.email {
  font-family: 'Catamaran', sans-serif;
  color: #333;
}
.profile-image {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  display: inline-block;
}
.profile-image img {
  height: 200px;
  width: 200px;
}
.profile-image span {
  position: absolute;
  top: 100%;
  left: 23.5%;
  opacity: 0;
  transition: all .8s ease;
}
.profile-image:hover span {
  opacity: 1;
  top: 74%;
}
.profile-image span a {
  font-size: 12px;
  background: rgba(201,201,201,0.75);
  padding: 10px 20px;
  border-radius: 100px;
  color: #fff;
  font-weight: bold;
}
.info-title {
  background: #ddd;
  padding: 10px 30px 5px 30px;
  margin-top: 60px;
}
.info-title h4 {
  color: #222;
}
.applier-info {
  box-shadow: 0px 1px 1px 1px #c9c9c9;
}
.my-application {
  box-shadow: 0px 1px 1px 1px #c9c9c9;
}
.apply-info {
  padding: 30px;
}
.save-jobs-info {
  padding: 30px;
}
.save-jobs-info ul li {
  padding: 5px;
}
.save-jobs-info ul li a {
  color: #039be5;
  font-size: 18px;
  font-weight: 600;
}
td ul {
  padding: 0;
  margin: 0;
}
td ul li{
  display: inline-block;
  margin-right: 10px;
}
td ul li a{
  color: #039be5;
}
.action ul li{
  margin-right: 0px;
  display: block;
  margin-bottom: 25px;
  margin-top: 5px;
}
.action ul li:last-child {
  margin-bottom: 0px;
}
.pro-image img {
  border : 5px solid #ccc;
  border-radius: 100%;
}
.profile {
  padding: 5px 15px;
  background: #039be5;
  color: #ffffff;
  border-radius: 5px;
}
.profile:hover {
  color: #ffffff;
  background: #0376b0;
}
.success {
  padding: 5px 10px;
  background: #28a745;
  color: #ffffff;
  border-radius: 5px;
}
.success:hover {
  color: #ffffff;
  background: #218838;
}
.warning {
  padding: 5px 10px;
  background: #ffc107;
  color: #ffffff;
  border-radius: 5px;
}
.warning:hover {
  color: #ffffff;
  background: #e0a800;
}
.danger {
  padding: 5px 10px;
  background: #dc3545;
  color: #ffffff;
  border-radius: 5px;
}
.danger:hover {
  color: #ffffff;
  background: #bd2130;
}
.success:active {
  color: #ffffff;
}
.warning:active {
  color: #ffffff;
}
.danger:active {
  color: #ffffff;
}
.success:focus {
  color: #ffffff;
}
.warning:focus {
  color: #ffffff;
}
.danger:focus {
  color: #ffffff;
}
.message {
  padding: 5px 10px;
  background: #ff3399;
  color: #ffffff;
  border-radius: 5px;
}
.message:hover {
  color: #ffffff;
  background: #e60073;
}

#message-box {
  position: relative;
  padding-top: 300px;
}
.message-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 10px 20px 15px rgba(0, 0, 0, 0.1);
}
.message-tm {
  width: 100%;
  height: 200px;
  border: 1px solid #333;
  padding-left: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
}
.submit-tm {
  padding: 10px 15px;
  background: #039be5;
  border: 1px solid #039be5;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
}

.company-pro-image img {
  height: 120px;
  width: 120px;
  border-radius: 100%;
}

.phone p {
  font-size: 18px;
  font-weight: 600;
  color: #6a7074;
}

.email p {
  font-size: 18px;
  font-weight: 600;
  color: #6a7074;
}
.profile-tab ul li a {
  padding: 15px 30px;
  display: inline-block;
  background: #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid #EAEAEA;
}
.profile-tab ul li a:hover {
  background: #EAEAEA;
  color: #000000;
}

.matter {
  padding: 30px 30px;
  background: #ffffff;
  margin-bottom: 30px;
  margin-top: 10px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
}

#login {
  background-color: #ccc;
}

.message-wrapper  {
  border-bottom: 1px solid #797979;
  margin-bottom: 30px;
}


.message-field input {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  padding: 0 15px;
  margin-bottom: 20px;
}

.message-field .msg-btn {
  padding: 10px 30px;
  background: #56baed;
  border: 1px solid #56baed;
  color: #ffffff;
}

/********* Registration Form Css **********/
#student-registration {
  padding-top: 60px;
}
.student-registration-form {
  padding: 55px 30px 60px;
  border: 1px solid #2dced4;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 30px;
}
.student-registration-form .form-title {
  text-align: center;
  padding-bottom: 30px;
}

.student-registration-form label {
  font-weight: 600;
  padding-bottom: 7px;
}

.student-registration-form input {
  width: 100%;
  height: 45px;
  padding-left: 30px;
  margin-bottom: 30px;
  border: 0px solid #1fb5ad;
  border-radius: 100px;
  box-shadow: 0px 1px 10px -1px rgba(0,0,0,0.5);
}

.student-registration-form input:focus {
  border: 0px solid #1fb5ad;
}

.submit-button {
  text-align: center; 
}

.submit-button .submit-btn {
  padding: 15px 30px;
  background: #2dced4;
  color: #fff;
  border: 1px solid #2dced4;
  display: inline-block;
  border-radius: 100px;
  font-size: 18px;
}

.submit-button .submit-btn:hover {
  background: #fff;
  color: #2dced4;
  border: 1px solid #2dced4;
}
.meta {
  color: #000;
  font-weight: 600;
}
.meta a {
  color: #2dced4;
}
/********* Login Form Css **********/
#login-page {
  padding-top: 60px;
}

.login-form {
  padding: 55px 30px 60px;
  border: 1px solid #ccc;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 7px 10px 0 rgba(0,0,0,0.5);
  margin-bottom: 30px;
}

.login-form input {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.login-form input:focus {
  border: 1px solid #1fb5ad;
}

.login-form .form-title {
  text-align: center;
  padding-bottom: 30px;
}

.login-form .form-title h3 {
  color: #1fb5ad;
}

/********* Register Course Css **********/
#register-course {
  padding-top: 60px;
  padding-bottom: 60px;
}

.register-course .page-title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 45px;
}

.register-course-form .type {
  padding-bottom: 10px;
}

.course-type {
  border: 1px solid #1fb5ad;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.improvement-overlap {
  padding-bottom: 15px;
}

.improvement-overlap label{
  margin-right: 30px;
}

.teacher-initial {
  padding-bottom: 30px;
}

.teacher-initial input {
  width: 20%;
  height: 35px;
  margin-left: 30px;
  padding-left: 15px;
  box-shadow: 3px 3px 15px -5px rgba(0,0,0,0.5);
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
}

.teacher-initial input:focus {
  border: 1px solid #1fb5ad;
}

.course-code {
  margin-bottom: 30px;
}

.course-code input {
  width: 20%;
  height: 35px;
  margin-right: 25px;
  padding-left: 15px;
  box-shadow: 3px 3px 15px -5px rgba(0,0,0,0.5);
  border: 1px solid #ddd;
  border-radius: 10px;
}

.course-code input:focus {
  border: 1px solid #1fb5ad;
}

.course-code label {
  padding-right: 40px;
}

.course-title input {
  width: 20%;
  height: 35px;
  margin-right: 25px;
  padding-left: 15px;
  box-shadow: 3px 3px 15px -5px rgba(0,0,0,0.5);
  border: 1px solid #ddd;
  border-radius: 10px;
}

.course-title input:focus {
  border: 1px solid #1fb5ad;
}

.course-title label {
  padding-right: 40px;
}

.add-more .add-more-btn {
  padding: 10px 15px;
  border: 1px solid #1fb5ad;
  background: #1fb5ad;
  color: #fff;
  display: inline-block;
  margin-bottom: 50px;
  border-radius: 10px;
}

.add-more .add-more-btn:hover {
  background: #fff;
  color: #1fb5ad;
}

.register-course-form .submit-button {
  text-align: left;
}

/********* Admin Css **********/
.time {
  padding-bottom: 15px;
}

.routine-generate {
  padding-left: 0;
}

.routine-generate li {
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}

.routine-generate li select {
    padding: 4px 13px;
}

.generate-button a {
  padding: 5px 15px;
  border: 1px solid #ccc;
}

#generate-routine {
  padding-top: 60px;
}

/******** Navbar Css ********/
header {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: 3;
  padding: 0 60px;
  background: #2dced4;
  -webkit-box-shadow: 0px 0px 25.5px 4.5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 25.5px 4.5px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-link,
.navbar-nav .nav-link:focus, 
.navbar-nav .nav-link:hover {
  color: #ffffff;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.navbar-brand .logo {
  color: #ffffff;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0px;
    font-size: 16px;
    margin-left: 25px;
}

.navbar .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.fixed-it .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.navbar {
    padding: .5rem 1rem .8em;
}

.fixed-it{
  background: rgba(255,255,255,.9);
  -webkit-box-shadow: 0px 0px 25.5px 4.5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 25.5px 4.5px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.opacity-it .navbar-nav .nav-link,
.opacity-it .navbar-nav .nav-link:focus, 
.opacity-it .navbar-nav .nav-link:hover,
.fixed-it .navbar-nav .nav-link,
.fixed-it .navbar-nav .nav-link:focus, 
.fixed-it .navbar-nav .nav-link:hover {
  color: var(--primary-text-color);
}

.navbar-brand img{
  max-height: 70px;    
  -webkit-transition: all .5s ease;    
  -o-transition: all .5s ease;    
  transition: all .5s ease;
}

.fixed-it .navbar-brand img{
  max-height: 40px;
}

.logo-sticky{
  height: 0;
  opacity: 0;
  -webkit-transition: height .5s ease;
  -o-transition: height .5s ease;
  transition: height .5s ease;
}

.logo{
  height: auto;
  opacity: 1;
  -webkit-transition: height .5s ease;
  -o-transition: height .5s ease;
  transition: height .5s ease;
}

.fixed-it .logo-sticky{
  display: block;
  opacity: 1;
  height: auto;
}

.fixed-it .logo{
  height: 0;
}

.navbar .navbar-toggler {
  border: var(--border-ld);
}

.fixed-it .navbar .navbar-toggler {
  border: var(--border-ld);
}
.fixed-it .nav-item a.nav-btn::after, 
.nav-item a.nav-btn::after {
    height: 0px;
}

.opacity-it .nav-btn,
.fixed-it .nav-btn{
  color: var(--color-white)!important;
  background-image: -webkit-linear-gradient( 135deg, #4dd8e8 0%, #42c9ce 100%);
  background-image: -o-linear-gradient( 135deg, #4dd8e8 0%, #42c9ce 100%);
  background-image: linear-gradient( 135deg, #4dd8e8 0%, #42c9ce 100%);
  border: 1px solid transparent;
}

.nav-item a{
  position: relative;
}

footer {
  padding: 30px 0 20px;
  background: #fff; 
}

.copyright {
  text-align: center;
}

.copyright p{
  font-size: 22px;
}


/************* About Section ************/
#about-section {
  background: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}


/************* Teacher Section ************/
.teacher-info .title {
  border-bottom: 2px solid #ccc;
  margin-bottom: 30px;
}

.teacher-details {
  border: 1px solid #2dced4;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.teacher-details .image {
  float: left; 
}

.teacher-details .image img {
  border-radius: 10px;
}

.teacher-details .teacher {
  padding-left: 150px;
}

.teacher-details .teacher p {
  font-weight: 600;
  color: #000;
}

.teacher-name {
  color: #2dced4;
  font-weight: 600;
}

#footer {
  background: #2dced4;
  padding: 20px 0;
}

.copyright-area {
  text-align: center;
}

.copyright-area p {
  color: #fff;
}

.copyright-area a {
  color: #000; 
  font-weight: 600; 
}

#contact-us {
  padding-top: 100px;
  padding-bottom: 100px;
  background: #fff;
}

.contact {
  text-align: center;
}

.contact-details p {
  color: #000;
  font-size: 18px;
}

.print-button {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.print-button a {
  padding: 10px 15px;
  border: 1px solid #2dced4;
  color: #2dced4;
}
.print-button a:hover {
  background: #2dced4;
  color: #fff;
}

.course-pt-1 {
  border: 1px solid #ccc;
}

.change-option {
  width: 100%;
  padding-left: 15px;
  margin-bottom: 30px;
  border: 1px solid #000;
  height: 30x;
}

.course-title {
  padding-bottom: 30px;
}

.add-file span {
    position: relative;
    left: -50px;
    color: #1fb5ad;
}


